[2020-07-28 17:26] VoltCruelerz opened #38 "Items can keep getting respawned"
While toying around with the script and attempting to figure out how chests work, I picked up and dropped several items.  I then deleted these items, but upon reloading the map, they returned.  I cannot seem to delete them by any means.  They simply come back when I reload the page.

[2020-07-28 17:27] VoltCruelerz opened #39 "Items Cannot Be Picked Up if non-default Scale/Rotation"
If an item on the map is a non-default size or rotation, it cannot be picked up.

[2020-07-28 17:28] VoltCruelerz opened #40 "Lock Icon Does Not Update"
When a container is locked or unlocked, the UI button does not update to reflect the change until you click away and click back.

[2020-07-28 18:00] VoltCruelerz commented on #38
After further investigation, to actually destroy the items, deleting the tokens doesn't seem to work.  Instead, you have to have a PC pick them up and then delete them from their inventory

[2020-07-28 21:26] VoltCruelerz opened #41 "Suggestion: Container Usability"
- Item Returns: allow users to return items to a chest (currently, dragging an item onto a chest just places it atop it on the map)
- Item Window: when opening a chest, create a popup window that displays its contents with a button to move an item to your inventory
- Stealthy Retrieval: rogues do love picking up items in chests without telling the party.  the messages seem to be public, so it woul

[2020-07-28 23:38] kamcknig commented on #38
Hi! Could you please provide exact reproduction steps and include the version of Foundry and the module? Thanks!

[2020-07-28 23:39] kamcknig commented on #39
Never tested that! Are you setting the size of the token via the token configs image tab?

[2020-07-28 23:39] kamcknig commented on #40
That is a known issue, I'll definitely be looking into that soon

[2020-07-28 23:41] kamcknig commented on #41
Item returns: This is actually a suggestion someone else made on discord that I thought was a great idea and will be implementing.

Item Window: I thought about rolling my own for this and probably still will at some point. I have just released version 0.4.0 that integrates with the lootsheet5enpc module so that you can use an actor token and set that token up as a chest which will open the loot s

[2020-07-28 23:43] kamcknig commented on #40
Marking this as an enhancement since it was a known issue that I planned on upating

[2020-07-29 02:40] VoltCruelerz commented on #39
Yep

[2020-07-29 03:15] VoltCruelerz commented on #38
After some digging, here's two ways, which result in slightly different results.

1. Place a chest on the map.  Do NOT change any settings.
2. Pick it up as a PC.
3. Drag the item back onto the map.
4. Add an item to the chest through the right click menu, but do NOT make it a container.
5. Pick up the container (and its contents)
6. Drag both back onto the map.
7. Delete both.
8. Reload page (ie

[2020-07-29 12:41] VoltCruelerz opened #47 "Scale Non-Square Items"
If you have non-square images display as options in a container, they end up taking up extra space for their entire row.

![image](https://user-images.githubusercontent.com/4068550/88801143-3e9cd380-d177-11ea-81da-1b642df5c59e.png)

[2020-07-29 13:02] kamcknig commented on #47
Thanks! I'll look into this. I hate html and css :-D

[2020-07-29 13:48] kamcknig commented on #47
This will be fixed in the next release

[2020-07-29 13:48] #47 closed

[2020-07-29 13:49] kamcknig commented on #39
Great! Thanks! For now I'll close this issue then.

[2020-07-29 13:49] #39 closed

[2020-07-29 14:16] kamcknig commented on #38
I'm having trouble reproducing this one.

I've just released v0.4.2 which fixes a permission issue and an image sizing issue in the item selection window.

For step 3 you say "pick up the chest", but if the item is a container, then it cannot be picked up so could you clarify there?

For step 4 is it the GM dragging back onto the map from the player after they pick it up? There was a permission is

[2020-07-29 14:17] kamcknig commented on #41
I've added these to the future considerations section of the README, so I'll close this item. Thank you!

[2020-07-29 14:17] #41 closed

[2020-07-29 15:13] VoltCruelerz commented on #38
3: If I as the GM have a PC token selected and click on an adjacent container, the PC's inventory gets the container added to it, but the item also remains on the map.  In this case, the character sheet has the chest under loot.
4: GM dragging

https://www.youtube.com/watch?v=IVAPMM2ozYQ&feature=youtu.be

[2020-07-29 15:20] kamcknig commented on #38
3. Oh I see, OK. That's a "misunderstanding" as to how it works. So when you add an item to the map it automatically "adds itself" as an item to be picked up. And when you turn it into a container it's still there. If you open that container menu, then you'll see that the item itself is marked as a "1" count by default and you'll have to change that to 0 to not get the container (though it's simpl

[2020-07-29 17:12] Sebbor117 opened #51 "Can no longer drag items to map"
Dragging items to the map stopped working after the latest update.

Tested both with lootsheet5eNPC enabled and disabled. Did not work with or without.

Worked yesterday before update without any problems.

[2020-07-29 17:46] Khybersghost opened #53 "Feature Request - Add tooltip for item description"
Possible to get tooltip info for items already placed on the canvas so you can get a description of the item before picking it up?

[2020-07-29 19:09] kamcknig commented on #38
Have you tried it without any other modules installed as well? Another use has reported issues with Forien's Quest Log, Token Animation Tools and Token Hotbar, though his problems with those were that he could not drop items onto the map rather than this specific issue.

[2020-07-29 19:10] kamcknig commented on #51
Hi, another use has reported issues with Forien's Quest Log, Token Animation Tools and Token Hotbar. With any of those three add-ons installed, he is unable to drop items onto the map. If you have those installed, could you try disabling them and see if it works? If not, could you be sure to disable all mods besides this one and see if it works? If you can find a mod that is interfering I will add

[2020-07-29 19:12] kamcknig commented on #53
Hi, would you like the actual item description as defined in the item data? What if it is a container? Do you want the description of the container?

[2020-07-29 19:26] Sebbor117 commented on #51
I have non of those modules installed. It works in my test world with just pick up strix enabled so its one of the others modules I have installed.

I'll go through my list and see if I can find which one!

[2020-07-29 20:37] Khybersghost commented on #53
A description as defined by the item data would be great. If it's possible to set a custom description for the item, even better, but that seems like a lot more work.

[2020-07-29 20:43] Sebbor117 commented on #51
So I now tested with all the modules I'm using and if I pair them one by one with pick up strix they all work. But as I add more and more I some times have to reload application any number of times before it might work.

This seams to be either a load order problem or just that I'm using way to many modules at the same time.
I get it working with a majority of them, here's a list:
5e Encounter Bui

[2020-07-29 21:21] kamcknig commented on #51
Thanks for the info. I'm not going to lie, because of the vagueness and difficulty in finding which is causing the issue, this might remain semi-low priority. I do however, use some of these in my own game, so I'll attempt to rule out some of those. There are probably others that we can rule out that don't have anything to do with tokens.

[2020-07-29 21:23] kamcknig commented on #53
You should be able to edit the Item description yourself and therefore give it a custom description, but when I implement this I'll allow for an optional "description override" to use for the tooltip

[2020-07-29 21:32] Sebbor117 commented on #51
Yeah understandable. If you need more testing done let me know I'll gladly help if/ when I have the time.

[2020-07-29 21:52] kamcknig commented on #51
Appreciate it! I did just release 0.4.3. I found a compatibility issue with Foundry 0.6.5 and fixed it. So if you are on that version of Foundry, please update and try again!

[2020-07-29 23:05] Sebbor117 commented on #51
Maybe that was the problem. Now it works as it should with my regular world!

[2020-07-29 23:15] kamcknig commented on #51
That's great! Glad to hear

[2020-07-30 00:36] #51 closed

[2020-07-30 13:39] #40 closed

[2020-07-31 21:54] VoltCruelerz opened #62 "Button Stretched"
**Describe the bug**
The container button is vertically stretched for large tokens.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an actor with a size larger than medium on the map.

**Expected behavior**
The button would be a normal size.

**Screenshots**
![image](https://user-images.githubusercontent.com/4068550/89080514-14097100-d357-11ea-99e6-406db6e7fa21.png)

![image](https://u

[2020-08-02 01:41] rinnocenti opened #63 "Config.Debug.hooks on"
just in the distribution package put "Config.debug.hooks" in false.

[2020-08-06 22:03] Alexis-Grimm opened #64 "Drag Upload Incompatibility"
I'm using foundry 0.6.5, Dnd5e 0.94, Drag Upload 1.2.1, and Pick-Up-Stix version 0.6.0. I cannot seem to place items while drag upload is active, thought drag upload is also really useful.  (I have a bunch of other modules as well but that seems to be the only one causing problems) I don't have Forien's Quest Log, Token Hotbar, or Token Animation Tools. Thanks for the great module!

[2020-08-07 18:42] Avitale34 commented on #64
Same issue here, great module would love to make these two compatible!

[2020-08-10 20:29] Alexis-Grimm opened #71 "Updated Manifest"
I noticed that there has been two releases since 0.6.0 of Pick up stix, is it intentional that this isn't available through the foundry module installer?

[2020-08-12 00:19] kamcknig commented on #62
I have re-done the GUI completely in 0.7.2 of the module and those icons are no longer there!

[2020-08-12 00:19] #62 closed

[2020-08-12 00:20] kamcknig commented on #63
Yes you are right good catch

[2020-08-12 00:21] kamcknig commented on #63
this will be in 0.7.3

[2020-08-12 00:21] #63 closed

[2020-08-12 00:21] kamcknig commented on #64
I haven't used that module, I'll install and test compatibility.

[2020-08-12 00:22] kamcknig commented on #71
Hi, yes it was. I had created releases for myself that I was testing, but they were still in the github project. But they were not meant for live use. The current version 0.7.2 is the most recent "live" version that contains my intial re-write of the GUI

[2020-08-12 00:22] #71 closed

[2020-08-13 21:34] WildBillLives commented on #64
I can confirm this issue,  I recently added "Drag Upload v1.21" to my active modules, and unfortunately now pick-up-stix does not do anything.

[2020-08-14 03:09] kamcknig commented on #64
Unfortunately I think I found today that our two modules just wont' ever work together in foundry 0.6.5. Because of the way we are both handling the drag/drop, foundry doesn't do well with it. In 0.7.0 it might get better as I'm not using the same method to handle it with new API features.

[2020-08-14 03:15] shinkei13 opened #87 "Feature Request - Resize Generated Icons"
It would be amazing if you could customize the size of the tokens created on drop. As they are now, players can sometimes mistake dropped items for NPC icons. I've even had an instance where a player lost their token underneath an item. Ideally, we could choose a width and height similar to the controls we have for tokens.

[2020-08-14 20:36] Alexis-Grimm opened #88 "Feature Suggestion: Premade containers"
Something that would be exceptionally useful would be the ability to create containers in the items directory with specific open and closed images so that you can keep a nice library of various different containers based on your purposes, so you don't have to spend any time switching from the default images. Another part of this that would be useful would be the ability to have a premade container

[2020-08-18 13:54] kamcknig commented on #64
@WildBillLives please try version 0.7.10. I have updated it with a possible compatibility fix.

[2020-08-18 13:57] kamcknig commented on #87
In my previous incarnation you still had the ability to use the normal token config rather than my item config. When switching to the new GUI, that ability was lost. However, I agree the size should be configurable. I do plan on adding that back in for sure

[2020-08-18 13:59] kamcknig commented on #88
100% will be adding support for roll tables, it is on my list. It's hard to decide what to work on next!

I also agree on the other points. Thank you for the suggestions and they'll be added to the list.

[2020-08-18 14:16] BradKriss commented on #64
I just tried it and it looks like they're playing nice together for me now! Nice fix!

**My Environment:**
Foundry: 6.5 (forge hosted)
D&D: 0.95
DragUpload: 1.2.1
Pick-up-stix: 0.7.10

[2020-08-18 16:25] WildBillLives commented on #64
Yes, very good - no issues from my initial testing of both modules together - thank you very much!

[2020-08-18 18:21] #64 closed

[2020-08-18 19:32] kamcknig commented on #87
There is now a scale input on the item config page that allows you to change the scale from .1 to 2. This is available in 0.7.13

[2020-08-18 19:32] #87 closed

[2020-08-18 20:05] #88 closed

[2020-08-19 01:51] kamcknig commented on #88
@Alexis-Grimm Version 0.8.0 you can use the 'create item' button on the item's directory and use the type selector to choose 'container' and create a container item directly. It's quite untested. But it's an initial pass

[2020-08-19 22:40] rinnocenti opened #91 "Not Hidden"
**Describe the bug**
It now appears that the item on the map is no longer a token. It is not possible to access the description texts, or even make it hidden.

Foundry 0.6.5

**Pick-Up-Stix Version**
0.7.13

[2020-08-20 19:40] Alexis-Grimm opened #92 "Premade Container Size"
Just a small issue I noticed with the new premade container feature, I know it's new and untested, so I'm just reporting this in case you miss it. You can't alter a premade containers size modifier until you place it on a map.

[2020-08-20 20:40] p4535992 opened #93 "Minor Feature Request - Add the possibility in the case of the same consumable objects to merge them by doubling weight and price when picked up"
**Describe the feature**

When pick up 5 potion of the same type it will be nice to have them already merged in one item on the characters sheet.
So my request is to add the possibility in the case of the same objects to merge them by doubling weight and price  when picked up,

**To Reproduce**

Steps to reproduce the behavior:

1. Put for example five red potion on the scene
2. Go to pick up the

[2020-08-21 19:31] Doomixdo opened #95 "Feature Request: Sounds in general"
It would be awesome to add sounds when you pick up an item, or maybe when you open a chest and close it.

[2020-08-25 02:27] yoshikidneo opened #96 "Mod doesn't work with Mess I believe"
I recently downloaded Mess (https://foundryvtt.com/packages/mess/) and noticed I cannot drop items from character sheets anymore. I haven't gone through the options to try and remedy it just yet since we are in a session, but wanted to bring it up.

[2020-08-25 04:02] #96 closed

[2020-08-25 04:02] yoshikidneo commented on #96
Uninstalling and reinstalling the mod fixed whatever issue I had

[2020-08-25 06:15] Freelancerjw opened #97 "Getting Errors in console on item drop on map"
Was excited to see and try this module, but I couldn't seem to get it to work. Upon opening the console, this is the error I found upon trying to drag and drop items onto the map. Foundry VTT 0.6.6, Starfinder 0.4.10. I also couldn't get it to work with the 5e 0.96 system either.

[2020-08-25 21:25] kamcknig commented on #97
Interesting. Those errors should be benign as that's just trying to locate the JS to TS mapping files. I actually have that fixed in 0.8.5 though I still need to change it as I think the map files are now being shipped with the live code. Oops.

As for it not working, especially in 5E that's very strange. Have you tried disabling all other modules? If so, and it still doesn't work then please feel

[2020-08-26 05:32] altair984 commented on #97
im working with Foundry VTT 0.6.6 and 5e 0.96 system. I have the same error. The item dont drag and drop into the map.

DevTools failed to parse SourceMap: http://localhost:30000/modules/maps/pick-up-stix.js.map
DevTools failed to parse SourceMap: http://localhost:30000/modules/maps/module/pick-up-stix/hooks.js.map
DevTools failed to parse SourceMap: http://localhost:30000/modules/maps/module/pick

[2020-08-26 14:32] altair984 commented on #97
hi, i install the last version update. i did it and im working with Foundry VTT 0.6.6 and 5e 0.96 system. I have the same error. The item dont drag and drop into the map.

that is fixed:
Now the console dont show that:
DevTools failed to parse SourceMap: http://localhost:30000/modules/maps/pick-up-stix.js.map
DevTools failed to parse SourceMap: http://localhost:30000/modules/maps/module/pick-up-st

[2020-08-26 14:34] kamcknig commented on #97
Hi there!

So Someone else just had the issue and what I didn't realize is my version check would make it not work when it was above version 0.6.5.

I just updated about 5 minutes ago to Pick-Up-Stix 0.8.8. please try that version. It should work with Foundry 0.6.6

[2020-08-26 15:10] Torgaard opened #98 "Feature Request: Keys for Chests"
First: Thank you so much for you work - what a fantastic add-on!

Feature Request: I just thought a neat feature might be if a chest could only be opened if an Actor had a specific key (Loot item) in their inventory. Maybe an addition to your options interface for items after dropping them on a Scene (that = type 'Container'?) , where you'd now also have a checkbox of "Requires key" and a field to

[2020-08-26 21:13] LucianoMonsores opened #99 "Money never sets the value to 0 for players in the container"
When a player picks money (platinum, gold, silver...) using the hand icon, it does not reset (set the value to 0) and also allows players to pick the amount several times. When I try to do it as a DM, the amounts of money are set to 0. Could you please check that?

Thanks,
Luciano

[2020-08-26 23:46] Freelancerjw commented on #97
I updated to Foundry 0.7.1 last night to try and it worked fine, downgraded back to 0.6.6 after seeing your latest message and it works now even with Drag Upload enabled! Thanks! Excited to try it out in a session :)

Now if only the currency portion of the containers could be configured to work with Starfinder :P Ultra minor and totally a QoL thing, but I wouldn't complain! Thanks again!

[2020-08-26 23:46] #97 closed

[2020-08-27 12:52] kamcknig commented on #91
@rinnocenti You can now make a loot token invisible in the latest version. The controls have changed, right clicking will bring up a HUD menu to allow changing locked/visibility state and open the config. You can also open the config via double clicking or double right-clicking

[2020-08-27 12:52] #91 closed

[2020-08-27 12:53] #38 closed

[2020-08-27 12:54] kamcknig commented on #98
I like it. I'll add it to my trello board! Thanks for using it and thanks for the compliment!

[2020-08-27 12:55] kamcknig commented on #99
Hmm, interesting, thanks for reporting it.

I did just confirm that happens for me too! Thanks for reporting it.

[2020-08-27 13:34] LucianoMonsores commented on #99
No problem and thanks for taking a look.
This module is very good and once fixed, I will add this functionality to my game.

[2020-08-27 13:48] kamcknig commented on #99
Hi, this should now be fixed in version 0.8.9

[2020-08-27 13:48] #99 closed

[2020-08-28 03:07] Smoldar-og opened #100 "Can't properly use mod"
After updating to Foundry 0.6.6 and DnD5e 0.96 is no longer possible to drag items to canvas or create new instances. Tested with only this mod and attempting to place item on canvas no longer display the container window. Interacting with already existing chests is possible.

If the currency writing field is left blank the field is removed

**To Reproduce**
Drag item from the pack into the canvas

[2020-08-28 18:37] brunocalado opened #101 "It's not working on Simple World-Building"
Hi.

It's not working on Simple World-Building. I can't drop items from the PC inventory to the map. I can't drop from Items to map too.

![image](https://user-images.githubusercontent.com/4999783/91603866-1e159400-e944-11ea-864d-d3648e96712c.png)

[2020-08-29 11:32] LucianoMonsores opened #102 "More than one player picking up the same item when opening the chest (Container) when they click to pick the item at the same time"
**Describe the bug**
If more than one player opens a chest (Container) at the same time, they can take the same item if they click to pick the item at the same time.

The item is removed if only one player picks it up and closes the chest (Container) or if the item has enough time to be removed. I don't know if it is possible to lock the first item clicked. This would prevent other players from pi

[2020-08-29 11:36] LucianoMonsores opened #103 "As a GM I can't remove an item from the chest (Container)"
**Describe the Improvement**
As a GM I can't remove an item from the chest (Container), it would be interesting if I had a button to remove the item from the container.

[2020-08-30 13:27] Nuku opened #104 "New Version Broke Things"
Simply, once Foundry updated, I lost the ability to put items down at all.

[2020-08-31 21:40] kamcknig commented on #95
@Doomixdo Sounds have been added to 0.9.0

[2020-08-31 21:40] #95 closed

[2020-08-31 21:44] kamcknig commented on #101
@brunocalado , I just installed the system and created a world from scratch and it seemed to be working for me. Have you tried disabling all other add-ons to be sure it's not an incompatibility? If it is, I'll gladly look into it if we can determine what other add-on it is.

[2020-08-31 21:45] kamcknig commented on #103
@LucianoMonsores The latest version should have a trash can icon next to the hand icon for each loot and a GM can delete using that button. Please let me know if it' snot working!

[2020-08-31 21:45] #103 closed

[2020-08-31 21:46] kamcknig commented on #104
@Nuku Which version of Foundry and which version of Pick-Up-Stix are you using? No other users have reported this and I've used it today and it seems OK. If you can reproduce it and help me to do so, I'll gladly look at it!

[2020-08-31 21:47] kamcknig commented on #100
@Smoldar-og Hi! There was a bug in my version check code that broke for users using 0.6.6 of Foundry, the latest update should have a fix for that. It was fixed in version 0.8.7

[2020-08-31 21:47] #100 closed

[2020-08-31 21:49] kamcknig commented on #102
@LucianoMonsores When you say "at the same time," do you actually mean as close to at the same time as possible? I want to make sure this is actually a race condition. Because I do have code that should update the quantity on all player's screens. If this is a race condition, it seems like it would be hard to do it accidentally.

[2020-08-31 22:09] kamcknig commented on #104
If you updated from Foundry 0.6.5 to 0.6.6 there was a bug that was fixed in version 0.8.7 of Pick-Up-Stix to make it work with Foundry 0.6.6.

[2020-09-01 10:37] LucianoMonsores commented on #102
Hi @kamcknig, thanks for getting back to me.

Yes, as close as possible at the same time. This happened last Friday with me, 3 players opened a chest (It was the first time we had this in the game) and there was a single item and the players practically clicked at the same time and I believe that there was not enough time for the item to be removed.

I know it is something difficult to solve, I su

[2020-09-01 22:08] kamcknig commented on #102
Thanks! I'll keep an eye out, this might be hard to test and debug though by myself :)

[2020-09-04 20:07] Grygon commented on #104
Also having trouble.
Stix version 0.10.2
Foundry version 0.6.6
5e version 0.96

Tried uninstalling/reinstalling stix but no luck.

Getting these errors that I'm guessing are related:
![image](https://user-images.githubusercontent.com/647846/92281014-54ad5a80-eec0-11ea-8450-71ebbac645e7.png)

[2020-09-04 20:45] kamcknig commented on #104
Please uninstall and reinstall the module. Somewhere around version 0.8.x it stopped finding the update. the current latest version should be 0.10.2

[2020-09-04 20:45] #104 closed

[2020-09-05 18:03] yoshikidneo opened #106 "Properties Reset On Drop/Pickup"
So I have a hand crossbow the players can drop and use as a turret of sorts. The issue is that when they pick it back up, the properties of ammunition, charges, etc reset to blank. I've noticed that most items that use charges get wiped as well when they are dropped, even though the items sheet that I created has the information filled out.

[2020-09-10 07:50] kunxin-chor opened #107 "Unable to use with vtta-beyond-iconizer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the vtta-beyond-iconizer
2. In module settings, go to configure settings, for Iconizer, set the following settings
3. Set icon replacement policy to `Replace all Icons`
4. Set base dictionary to `World of Warcraft Icons (online, wowhead.com)`
5. Save the settings
6

[2020-09-10 11:43] Zan135kin200 opened #108 "Doesn't work in wfrp4e"
When I try to has a CC test with a weapon (from macro toolbar or directly from character sheet by clicking the weapon) it throw me an error : "Maximum depth exceeded"
at foundry.js:3389 and 3386.
Foundry is 0.6.6 version
Wfrp4e is 2.1.0
Pick Up Stix is 0.10.2
On Foundry Discord someone told me pick up stix mod is responsible of that because it modify items somewhere, even if I deactivate or deinst

[2020-09-10 21:40] SalieriC opened #109 "SWADE: Items in inventory before pick-up-stix was activated disappear upon dragging them co the map/another token."
**Describe the bug**
Activating Pick-Up-Stix in an existing SWADE world can lead to loss of items: Items that were present before the module was activated will disappear when trying to drop or trade them. The following error messages appear:
![image](https://user-images.githubusercontent.com/1230041/92809438-e6cfca00-f3bc-11ea-87be-8c6923791994.png)
![image](https://user-images.githubusercontent.c

[2020-09-11 05:38] Ikxale opened #110 "feature request - Lock inventory inside of containers on pick up"
When picking up a container (in my case, the backpack from pathfinder second edition) the contents get automatically sorted into other categories, such as gold getting moved to treasure tab, weapons to weapon tab.

this tends to be somewhat troublesome, as in PF2e certain containers reduce the weight of things inside them, most notably backpacks. this is a very niche thing, but i feel it would imp

[2020-09-11 16:11] darthrader opened #111 "Working with Foriens Unidentified Items module"
**Describe the bug**
It appears that pick-up-stix is not working well with Forien's unidentified items.  See screenshot.

**Screenshots**
![image](https://user-images.githubusercontent.com/11488238/92948694-c38e3480-f427-11ea-8aa3-47720e9b0029.png)

[2020-09-14 19:03] kamcknig commented on #106
This makes sense with how it's been developed. I'm not keep tracking of updated values. I am doing a refactor right now that I hope might help solve this issue.

[2020-09-14 19:04] kamcknig commented on #109
I am working on a refactor of the data right now. I'll have to look into if this is an issue after my refactor. As of now I don't plan on fixing it for version 0.10.2.

I'll have a fix or at least an updated/explanation on this when I release my next 0.11.x version.

[2020-09-14 19:07] kamcknig commented on #110
I'm not familiar with pathfinder enough, and I mostly develop with D&D in mind. Could you please list out your foundry version, pathfinder version, and my module version along with the steps that I can follow to reproduce the issue?

Thanks

[2020-09-14 19:09] kamcknig commented on #108
Hello, I'm not sure I understand the issue.

Can you list steps to create any actors/items that are having the issue, and how to reproduce this?

[2020-09-14 19:13] kamcknig commented on #107
I'm not sure how mine could cause a CORs issue. Are you sure this isn't the Chrome issue that Atropos is looking into solving https://gitlab.com/foundrynet/foundryvtt/-/issues/2982. Did you try firefox?

[2020-09-15 05:48] Zan135kin200 commented on #108
Hello, to reproduce :
Create a world with warhammer 4ed v2.1.0 system
Install Pick up stix
Create a character
Create a weapon or use existing one
Drag and drop the weapon to the character
Drag and drop the equipped weapon to the macrobar
Click on the created icon on the macrobar
Bug

To solve my issue I had to deinstall entirely the module and create another
new world, because even if I deactivate

[2020-09-15 15:11] #101 closed

[2020-09-19 19:14] RedSoarer opened #113 "Getting locked out of Character screen if picking up resized object"
I was trying to place some items, short swords and arrows on the ground for players to pick up. Not wanting to have the items take the entire square I resized them to 0.3. After picking up with test character I noticed I could no longer open the character sheet, neither form double clicking the token nor from the bar on the right. I had to delete the character entirely (token on map and form side

[2020-09-20 18:39] kamcknig commented on #106
@yoshikidneo Could you please test this in 0.11.0? I have changed  the way data is stored, and it could solve the issue with things like this

[2020-09-20 18:42] kamcknig commented on #109
@SalieriC Could you please test this in version 0.11.0 of Pick-Up-Stix. I just did a test run on a new world with SWADE and it worked. I don't know much about SWADE though or any testing scenarios I should run through

[2020-09-20 18:50] kamcknig commented on #113
@RedSoarer Could you please retest this in version 0.11.0 of Pick-Up-Stix? I just tested with a new Pathfinder world and yoru scenarios seemed to work for me there

[2020-09-20 19:00] kamcknig commented on #111
@darthrader Could you please test this in version 0.11.0? I don't really know how to use the unidentified items module, but i was able to mystify and add the item to a container and it showed as unidentified, but I don't really know the process afterward of what I need to test

[2020-09-20 19:15] powerkor commented on #111
In the title bar it should say identify but it says mystify. If you open the mystified item before putting it in the container you’ll see the difference

[2020-09-20 19:35] kamcknig commented on #111
@powerkor Ah! I didn't see the title bar options. So in a test I just did with 0.11.0 it seemed to work then.

[2020-09-20 20:03] powerkor commented on #111
While I’m here can you tell me once someone opens the container how they pickup the item? I can’t seem to figure it out

[2020-09-20 20:06] kamcknig commented on #111
There should be a hand icon on the right side

![2020-09-20 16_05_46-Window](https://user-images.githubusercontent.com/705490/93721014-3b144000-fb5b-11ea-9d4d-2c98fc5bed11.png)

[2020-09-20 20:18] kamcknig commented on #108
@Zan135kin200 Hi, could you please re-test this with version 0.11.0? I just did a test using those steps and it seems to have worked. I made a pretty large refactor to the data structure and it seems to have solved quite a few compatibility issues.

[2020-09-21 01:16] RedSoarer commented on #113
@kamcknig Tested it with 0.11.0 and it worked as expected. The smaller item did not lock me out of the sheet. Odd thing was I tried to update though the FoundryVTT interface and it kept me at version 0.10.2. I then checked the modules list and saw that the latest was indeed 0.11.0.

Uninstalled the 0.10.2 version that wasn't updating and reinstalled the 0.11.0 to test and worked just fine.

[2020-09-21 01:16] #113 closed

[2020-09-21 01:20] kamcknig commented on #113
Unfortunately that's been an ongoing issue with my module. I raised a question on one of the discord channels to try to find out why

[2020-09-21 01:24] RedSoarer commented on #113
Thanks for the really quick replies and glad that it was such a simple fix. Awesome module by the way. I hope the update issue can get squared away just as quickly.

[2020-09-21 06:41] Zan135kin200 commented on #108
Hey it seem's to work now! Great and many thanks!

[2020-09-21 09:47] SalieriC commented on #109
@kamcknig sure, if you tell me how to install it. It's not yet found by the updater.

[2020-09-21 11:23] kamcknig commented on #109
Unfortunately it seems to be an issue with my module and foundry that foundry doesn't find the update, I have an open question on the discord about it. If you uninstall and reinstall it should work

[2020-09-21 11:24] kamcknig commented on #108
Excellent! Glad to hear

[2020-09-21 11:24] #108 closed

[2020-09-21 11:49] SalieriC commented on #109
My small test suggested that it is now working just fine. Thank you very much. I will get back to you should the issue arises during play but for now the issues I encountered the last time seem fixed. =)

[2020-09-21 11:49] #109 closed

[2020-09-21 12:22] kamcknig commented on #109
Glad to hear it!

[2020-09-21 13:16] #111 closed

[2020-09-21 13:16] kamcknig commented on #111
Closing this issue, please reopen if need be

[2020-09-21 13:17] kamcknig commented on #106
Closing this issue, please reopen if need be. you might have to uninstall/reinstall the module as the updating isn't working sometimes it seems

[2020-09-21 13:17] #106 closed

[2020-09-23 22:29] Pawper opened #114 "Container image on map does not update"
**Describe the bug**
The image for the container that is on the map does not update to match what I have set.

**To Reproduce**
see screenshots below

**Expected behavior**
The image on the map updates.

**Screenshots**
Defaults set to be different:
![image](https://user-images.githubusercontent.com/22269691/94076040-216c3600-fdb1-11ea-893b-a53c3b86322b.png)

Also tried in the settings for the con

[2020-09-23 22:43] Pawper opened #115 "Feature Request - Stealth Scores for items/containers"
I would like items/containers that are hidden to automatically be visible to those with a sufficient passive perception, using a stealth score we can define for the item/container

[2020-09-23 23:30] Pawper opened #116 "Feature Request - Add item button"
Hello,

Please add something like the +Add button from Loot Sheet 5e, so that we can add items directly in the UI without dragging in.
![image](https://user-images.githubusercontent.com/22269691/94084272-018d4000-fdba-11ea-9194-0a6a5bdb7ee4.png)

[2020-09-24 02:52] Pawper opened #117 "Feature Request - Edit item button"
Hello,

Please add something like the edit from Loot Sheet 5e.

![image](https://user-images.githubusercontent.com/22269691/94095249-30191400-fdd6-11ea-94e5-7b2da4f9c84b.png)

[2020-09-24 02:53] Pawper opened #118 "Feature Request - Loot All button"
Hello,

Please add something like the Loot All button from Loot Sheet 5e.

![image](https://user-images.githubusercontent.com/22269691/94095357-6eaece80-fdd6-11ea-8f07-92ae55ac532d.png)

[2020-09-24 03:40] Pawper opened #119 "Feature Request - Item costs for items"
It would be cool if items could have items as a requirement. So I could have a cauldron filled with a potion, but PCs would need glass bottles. Ideally it automatically grabs them from the player's inventory and has a confirmation popup, but if they have to drag the glass bottles in, that works.

[2020-09-25 14:17] aeciobf opened #120 "Simple World Building - drop item from inventory"
In the Simple World Building, dropping the item from inventory create it in the map, but the item continues in the inventory.

[2020-10-02 14:11] Hydrall opened #121 "Feature Request: Changing Token Size"
I have some tokens I'd like to use, but some of them are larger than 1x1 - as it stands I can't quite use them without the token being oddly shrunk. (Assuming I'm not just missing how to do this with a container token.)

[2020-10-04 13:42] kamcknig commented on #114
@Pawper I just want to be sure after changing the image, you have to click close for the update. Now I don't seem to be getting the issue you are having, but I did notice that when I change the image and the token updates, it actually shows the 'open' image even when it's closed after the update. so there is indeed a bug here. Can you please try to change th eopen image and see if it updates?

[2020-10-04 13:53] kamcknig commented on #115
I like that. I'll put it on my backlog.

[2020-10-04 13:54] kamcknig commented on #116
@Pawper I actually had this at first but the way the data structure I had set up broke things. I believe I can actually easily add this in for the 0.11.x releases as I refactored that data structure. Will put it on the backlog

[2020-10-04 13:55] kamcknig commented on #117
@Pawper same as the add item button :) will add it to the backlog, this should now be doable with the new data structure i have for the 0.11.x releases

[2020-10-04 13:56] kamcknig commented on #119
@Pawper Fun idea, I'll have to think about implementation but will add to the backlog. this might be down the road a little bit as there are some other features I want to add first.

[2020-10-04 13:58] kamcknig commented on #121
Hi, @Hydrall! Could you please provide your setup? Maybe the image you're using and steps? The scaling I added was pretty simple and wasn't well thought out, I just put it in on a whim.

[2020-10-04 13:59] kamcknig commented on #118
@Pawper Added to the backlog, should be fairly simple

[2020-10-04 14:02] kamcknig commented on #120
@aeciobf Confirmed as well, D&D5e seems to not have the problem, so it's specific to this system. I'll take a look, thanks for the report

[2020-10-04 14:02] powerkor opened #122 "Container doesn’t open on map"
When placing a container on the map, it doesn’t open anymore. Running icrpg not 5e

[2020-10-04 14:03] kamcknig commented on #122
Hi, @powerkor , can you check this issue and my response there? https://github.com/kamcknig/pick-up-stix/issues/114 This might be the same issue. There is currently a bug that when updating the token from the config sheet, it actually shows the open image rather than the closed image. I'll have a fix for that today if so

[2020-10-04 14:17] kamcknig commented on #114
Should be fixed in release 0.11.7. You might need to manually update as there were issues for awhile with automatic updates of my module

[2020-10-04 14:17] #114 closed

[2020-10-04 14:17] kamcknig commented on #122
Should be fixed in release 0.11.7. You might need to manually update as there were issues for awhile with automatic updates of my module

[2020-10-04 14:17] #122 closed

[2020-10-04 14:24] powerkor commented on #114
Also for clarity I mean the screen where the item is doesn’t show when you click on the chest. Nothing happens at all... but I’ll try the update

[2020-10-04 14:29] kamcknig commented on #114
@powerkor OK! If this version doesn't fix it, then I'll re-open this issue. Thanks.

[2020-10-05 03:19] bushibot opened #123 "Money not adding to container"
**Describe the bug**
When I add coin values to container (say a sac) and close the container the values reset to zero.

**To Reproduce**
Steps to reproduce the behavior:
1. drag new container
2. open
3. add coin values, close, reopen. Disappear quicker then my kids alowance.
4. See errors from log
`Foundry VTT | Error thrown in hooked function
_call @ foundry.js:2241
callAll @ foundry.js:2199
call

[2020-10-05 12:06] kamcknig commented on #123
@bushibot Could you tell me what versions of Foundry, my module and what system and its version that you're using?

[2020-10-05 19:17] powerkor opened #124 "Container still not functional"
**Describe the bug*
Dragging item onto screen and selecting container doesn’t put that item in the container

**To Reproduce**
Click and drag item to screen and select container
Opening the container has nothing in it until you drag the item into the container again

**Foundry Version**
Stable 6.6

**Pick-Up-Stix Version**
Latest 0.11.7

[2020-10-05 23:21] kamcknig commented on #123
@bushibot Hi there, my module had some problems with automatic updates due to me pointing to the wrong module file. please install using this URL https://raw.githubusercontent.com/kamcknig/pick-up-stix/master/src/module.json and that should bring my module up to version 0.11.7 which is the latest.

[2020-10-05 23:25] kamcknig commented on #124
@powerkor Hi, this is actually intended. Using an item to create a container simply makes the container. This is because it was the only way I had to create a container at first. After that I added the ability to create containers using the 'create item' button in the items directory and you could then edit that container in the directory to add any starting items.

However, I think that's a decen

[2020-10-05 23:41] kamcknig commented on #120
I'm not sure if this is the issue or not but I noticed some differences between Simple World building and other systems. I created an issue for simple world building in case the isssue lies with them. If it does not when they get back to me,j i'll look further. For reference, the issue I opened https://gitlab.com/foundrynet/worldbuilding/-/issues/21

[2020-10-07 14:06] Arkanmann opened #130 "Dialog claims data migration required without saying which module is demanding it or why"
I'm running Foundry 0.6.6 on a Mac. The dialog box only appears when I have pick-up-stix enabled, either on launch, or after reload upon activating it via manage modules. At minimum, the dialog box should indicate who is asking for this. But I'm not even sure I understand what data needs migrating from/to where. More information is required.

![image](https://user-images.githubusercontent.com/6625

[2020-10-07 14:19] kamcknig commented on #130
@Arkanmann Hi, thank you! You are right and I have this to fix in my backlog. I believe there is a logic error that if you've never used it in a world it will show that as well when it shouldn't but in that case it will be harmless. I definitely need to add the module name to the title, complete oversight. Thank you!

Right now the migraiton actually only matters when moving from a release below 0

[2020-10-08 11:51] Bryn1701 opened #134 "Sounds and resize not working"
First of all, thank you for a great mod! This is very cleaver of you.
There is an issue when I try to set sounds for opening and closing a container, that no matter which directory the sound is in, I cannot seem to hear it, neither can my players.

The second issue is that items dropped on the map, cannot be resized like containers.

[2020-10-08 12:29] #130 closed

[2020-10-08 12:31] kamcknig commented on #134
@Bryn1701 Thanks! Much appreciated!

I'll take a look at the sounds to see if that's an issue there.

The second issue is a known issue. Previously I was using the same sheet to configure both a container and an item, but that meant that you couldn't really edit a lot of the item's other fields. In a recent update I made it so that you could use the normal Item config sheet to edit the item so you

[2020-10-08 13:21] powerkor opened #135 "View item Details from in container"
To see what an item does you have to use the hand icon to put it in your inventory first. Would be nice to double click on items in container to view them

[2020-10-08 20:07] bushibot opened #136 "Players able interact and take items when game is paused"
I observed while testing as a player that I could interact with a chest and remove items even though the game was in paused state. Not sure if that is intentional.

[2020-10-08 20:42] kyle-mcknight commented on #123
@bushibot Right now it is because that was the easiest to implement when I first did it. I do plan on changing that I just need to figure out a nice GUI for it. And unfortunately, a DB bloat issue was found with my module because I didn't understand how some things worked. So I have to make a refactor to fix that before I do anything else. But it is on the list

[2020-10-08 20:43] kyle-mcknight commented on #136
That is not intended. what is funny is that when I load up the application it automatically starts paused and that's how I developed the entire time so I didn't even think about it. But no they should not be able to so I will add that to my list good find

[2020-10-08 20:44] kyle-mcknight commented on #135
@powerkor added to the list, but I have to make a refactor to alleviate a DB bloat issue first

[2020-10-10 19:57] #123 closed

[2020-10-11 18:43] powerkor opened #144 "Question"
I saw you said that it was causing some core db files to become bloated

Even if I disable the plugin would the problem persist? Is it fixed? How do I know if I have this issue and will just updating it fix it?

[2020-10-11 18:59] kamcknig commented on #144
You can see the issue by opening looking at the scenes.db file in the worlds folder where you have Foundry data stored and taking a token and moving it around the map with the arrow keys. jsts move it a bunch and you'll see the scene db size go up.

It's not a bug or a memory leak. It's the way in which the DB that Foundry uses works. I store data on flags on tokens, and on each update the data ge

[2020-10-11 19:41] powerkor commented on #144
It has to keep writing data? That’s confusing to me

[2020-10-11 19:53] kamcknig commented on #144
When you update a DB such as by moving a token you are updating the scenes.db then an entire copy of the scene is requested to be written to the scene DB, then you move the token again and the same thing happens, an entire copy is requested to be written. So your DB file has entire copies of the scene data. Then later the DB compacts all those writes into a single write, merging everything togethe

[2020-10-12 12:32] kamcknig commented on #120
@aeciobf I'm working on a refactor due to a DB bloat issue that was found. I have tested this in that refactor and it appears to be working for Simple World building. So please try again when the 0.12.x line is released.

[2020-10-14 15:36] powerkor opened #153 "Preview / Open items from container"
When the container is opened there is no way to preview or view the item unless you loot it first. There should be a way to look what the things do before you loot it

Additionally I’d like to use a container as a spell book and all the items are different spells so being able to look at each item while they’re inside the container is important

[2020-10-14 18:14] #153 closed

[2020-10-22 17:58] aeciobf commented on #120
I tested the new version in Foundry 0.75 and works well!
Thanks!

[2020-10-25 14:56] #144 closed

[2020-10-26 14:49] #120 closed

[2020-10-31 17:06] rholman-PRFT opened #156 "Sandbox System - Items taken do not go into inventory"
**Describe the bug**
I know that this is optimized for DND5e, just wanted to let you know, using the sanbox system, one can "take" items from a container, but they are not added to the taker's character sheet.

**To Reproduce**
Steps to reproduce the behavior:
1. Click a container
2. Loot it
3. Look at character sheet, observe no items are added.

**Expected behavior**
Items should be added as typ

[2020-11-01 20:49] bushibot opened #157 "couple 12.4 bugs"
Seeing a couple issues with foundry 7.5 , pickup 12.4.
Sorry this mostly observational while trying to work around run a game so no time to catch logs or test well.
Older containers can't be interacted with (at least not as the gm).
Players could drop things but not put them back into a box, I couldn't either as the GM once they were added to the map, I could just drag them around but not into a p

[2020-11-02 13:38] p4535992 opened #158 "Feature Request - When token is marked as defeated convert to a Item Container for make "lootable" to the party"
**Describe the feature**

With a new settings to the module (so everyone  can choose to enable or disable) when a token (usually NPC) is marked as "Defeated", convert (or replace not sure about the code) to a Item container, with the same image of the "Defeated" token and with the currency and the items .

[OPTIONAL] Manage a miss click when remove the condition "Defeated" re-pristine the previous

[2020-11-02 14:23] kamcknig commented on #158
Hi! I actually have this in my backlog of features :-D There are quite a few of them there, though I appreciate the fleshed out ideas as I'm sure I won't think of things like that hah!

I am definitely open to PRs, I've got another rewrite in mind that I think can alleviate the speed issues and probably make it a lot cleaner as well, but I've also got a huge backlog of features to implement as wel

[2020-11-02 14:24] kamcknig commented on #156
Hmm this should work on most ssystems, so there might be a bug, I'll attempt to reproduce at some point this week.

[2020-11-02 14:29] kamcknig commented on #157
1. When you say older? Do you mean after the update? That is expected in this case.  A notification should have popped up to warn of that, if you mean somethingelse though, let me know!
2. Dropping items from the canvas to the canvas isn't supported, i'll have to look into that as an enhancement, the player or you as the player would have to left lcick the items to pick them back up and then drop

[2020-11-02 15:36] p4535992 commented on #158
No problem,  you want i close this ticket?

[2020-11-09 02:37] #158 closed

[2020-11-09 02:41] #157 closed

[2020-11-09 02:49] kamcknig commented on #156
I can't even give a player items in this system. I create a new item as normal, and then drag it to a character sheet, I don't get the item.

[2020-11-09 02:49] #156 closed

[2020-11-12 14:59] kamcknig commented on #136
Closing this as I've added it to my trello board

[2020-11-12 14:59] #136 closed

[2020-11-12 14:59] #121 closed

[2020-11-12 15:00] kamcknig commented on #116
Closing this as I've added it to my trello board

[2020-11-12 15:00] #116 closed

[2020-11-12 15:00] kamcknig commented on #117
Closing this as I've added it to my trello board

[2020-11-12 15:00] #117 closed

[2020-11-12 15:01] kamcknig commented on #118
Closing this as I've added it to my trello board

[2020-11-12 15:01] #118 closed

[2020-11-12 15:02] kamcknig commented on #124
Added to my trello board

[2020-11-12 15:02] #124 closed

[2020-11-12 15:03] kamcknig commented on #98
Closed as it's on my trello

[2020-11-12 15:03] #98 closed

[2020-11-12 15:03] #53 closed

[2020-11-12 15:06] kamcknig commented on #119
Closing since it's on my trello

[2020-11-12 15:06] #119 closed

[2020-11-12 15:07] kamcknig commented on #115
Closing as it's on my trello

[2020-11-12 15:07] #115 closed

[2020-11-12 15:08] kamcknig commented on #135
closing since it's on my trello

[2020-11-12 15:08] #135 closed

[2020-11-13 19:08] DestralC opened #159 "Double clicking breaks the Container"
**Describe the bug**
Double-clicking on a container opens two container sheets that when closed still prevent the re-opening of the container. Listing that "Another Character is interacting with this item. Please wait your turn or ask them to close their loot sheet" Even while no sheet is open.

This doesn't seem to occur with a Dm roll. Found while testing, logged in a second time with an incogni

[2020-11-17 17:42] amcvfx opened #161 "Console filled up with pick up stix logs"
**Describe the bug**
Pick-up-stix is sending constant logs to the console which I'm assuming is going to slow things down. It clogs up the console very quickly.

**Screenshots**
![image](https://user-images.githubusercontent.com/35099081/99426452-007d1880-28fc-11eb-9c86-56a5816c3e40.png)

**Foundry Version**
0.77

**Pick-Up-Stix Version**
0.13.3

[2020-11-18 22:58] kamcknig commented on #159
Hi, there is now a new version out 0.13.3, if you could try that one. Though you will have to recreate any items/containers as 0.13.x is not compatible with 0.12.x

[2020-11-18 22:58] kamcknig commented on #161
I'll add a debug flag for these, thanks!

[2020-11-23 14:28] Krigsmaskine opened #163 "Dropped item does not retain quantity"
**Describe the bug**
Dropping an item with more than 1 in quantity, and then picking up said item resets the quantity to 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a stacking item/quantifiable item such as the torch item to an actor.
2. Edit the item, change the quantity to a number above 1.
3. Drop the item on the ground.
4. Pick up the item, behold the quantity has been set to

[2020-11-24 00:57] agrtga opened #164 "Support unidentified items"
Please add support for the unidentified property on items, so that the appropriate description is shown to the players. This applies to the 3.5e SRD system, but possibly also to 5E.

[2020-11-29 12:21] PBobovsky opened #165 "Looting from container in pf2e system breaks character sheets"
When using the PF2e system if a player takes an item from a container, their character sheet breaks and can't be opened until it is repaired manually in json.
This doesn't happen if a player picks up the item from the ground directly.

The difference in the character sheet json between the two that I can see is only in the quantity property on the looted object.
Picking up from container produces:

[2020-11-30 02:49] agrtga opened #166 "Looting no longer works on 3.5E SRD"
**Describe the bug**
Looting from a container no longer works when using the 3.5E SRD. A wait cursor display shows for a few seconds and then nothing happens. This occurs with currency and other items.

This was working in the last version (although the currency wasn't enabled).

**To Reproduce**
Steps to reproduce the behavior:
1. Add a container with items
2. Open as player and click button to t

[2020-11-30 16:02] archeresky opened #167 "Players unable to see items they have permission to in item directory when Pick-Up-Stix is active"
**Describe the bug**
When the module is enabled, my players cannot view any items in the item directory.

**To Reproduce**
The bug is present when the module is active.

**Foundry Version**
0.7.7

**Pick-Up-Stix Version**
0.13.4

[2020-12-03 14:05] VeilOfOblivion opened #168 ""Field names cannot contain a ." when trying to create a new container token (PF2E)"
**Describe the bug**
Can't drop an item of the container type on the scene and choose container. Results in error "Field names cannot contain a ." (PF2E)

**To Reproduce**
Steps to reproduce the behavior:
1. Import e.g. a Backpack from the equipment compendium (an item of type container)
2. Drop it in the scene
3. Choose "Container'
4. See the error message
5. See that no token is created

**Expec

[2020-12-03 14:14] VeilOfOblivion opened #169 "Container stays open after opening the first time regardless of setting (PF2E)"
**Describe the bug**
A new container appears closed. But as soon as you interact with it, it switches to the open state and stays like that regardless of setting "Can close"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new container
2. Configure it to your heart's content but make sure "Can close" is ticked
3. As a player (or GM with a token selected), interact with it
4. See tha

[2020-12-03 14:21] VeilOfOblivion opened #170 "Can't drag and drop a new item into a scene from a compendium (PF2E)"
**Describe the bug**
Dragging and dropping an item from a compendium doesn't create a new item token. Nothing happens visually. A console error is created

**To Reproduce**
Steps to reproduce the behavior:
1. Open an item compendium (e.g. Equipment)
2. Drag and drop any item on the scene
3. See that no token was created
4. See that there is no dialog asking what you want to create (item or contain

[2020-12-03 14:25] VeilOfOblivion commented on #170
Feeling bad opening 3 bugs in a row. But the module is great and I would love to use it in my PF2E campaign :)

[2020-12-03 14:39] VeilOfOblivion opened #171 "Feature Request: Create a "merchant" type as a third option"
This time, not a bug but a feature request :)

It would be great to have a kind of fancier version of your containers that allows players to use it as a merchant. So the GM could stock them with items (like you do with the regular containers) and sets prices for those items. The players could then buy these things. For future developments, you could even add a selling option with e.g. a fixed % of

[2020-12-03 14:52] kamcknig commented on #171
Hey, keep them coming. I appreciate the thoughts.

As for the bugs, I'll definitely get to them at some point, but I'm slowing down with the holidays and so not working on it as much as I would like right now.

As for this particular feature, it's actually in my backlog, and a second member of the community is working on something along these lines. I don't know all the features that we plan to pu

[2020-12-03 14:58] VeilOfOblivion commented on #171
Sounds good to me. I can live with the bugs I reported as they are not breaking anything really and there are always workarounds. Would just be nice to use it in the way they suppose to work at some stage :)

So... don't worry too much about them and enjoy this time of the year where everything slows down a bit. Even in those crazy times we are living in.

Keep up the great work!!

[2020-12-07 09:22] capoeria opened #172 "wrong behavior whit "personal chest""
Each PC has a personal chest located in his room at the inn.
Other characters cannot access it (through permissions) and the owner can remove things from the chest without problems, but when he deposits them from his inventory, they are not subtracted.

[2020-12-07 13:03] kamcknig commented on #172
Hi, thanks for the report! This is a known issue and should hopefully be fixed in the next version.

[2020-12-07 13:04] kamcknig commented on #172
I believe, if you drop the item onto the token itself it will work. I believe you only see this behavior if you drop the item onto the container sheet. Might be a workaround

[2020-12-07 14:10] ArdonDaros opened #173 "Pathfinder 1, unable to have unique inventory for mooks"
In Pathfinder 1, it seems that items in inventory are always tied to original character and shared even across non-linked copies of it ("mooks").

**Steps to reproduce**
- Start new World using Pathfinder 1 system (and activate Pick-up-Stix module)
- Create an NPC actor (using sheet PF 1.ActorSheetPFNPC)
- Give the NPC actor any inventory item from the compendium
- Spawn multiple copies of the NPC

[2020-12-07 14:55] capoeria commented on #172
I have tried that, but with no results

https://www.loom.com/share/396c3d936a61415484e10012fcfe9edf

[2020-12-07 15:17] capoeria commented on #172
Sorry, You are right. I had "toggle edit" enabled. With your method I can do that. Thank you

[2020-12-07 15:20] kamcknig commented on #159
@DestralC Hi, just wanted to see if this was still happening for you if you've tried the latest version?

[2020-12-07 15:21] kamcknig commented on #161
Hello, @amcvfx v0.13.6 now has a CONFIG.debug.pickUpStix flag that is false by default so log messages will not show aside from console.error messages

[2020-12-07 15:21] #161 closed

[2020-12-07 15:30] kamcknig commented on #164
Hello, do you have more details on this? As far as I knew, the Foundry base system doesn't support unidentified items and the only thing I've seen that allows that is Forien's module for unidentified items. Which in the past I ensured my module was compatible with his.

[2020-12-07 15:31] kamcknig commented on #165
@PBobovsky Hello, can you confirm if this works in the newest version of Pick-Up-Stix? It is now at version 0.13.6. I can't recall where some of the versions broke but at some point auto-updating didn't work. If you try to update and it doesn't work, please uninstall and reinstall pick-up-stix.

[2020-12-07 15:37] kamcknig commented on #166
Hello, @agrta, do you have more details on this? I just attempted this with 3.5e SRD 0.87.6 and it seemed to work.

You can also update to the latest 0.13.6 of Pick-up-Stix. Here are my steps:

1. Click create item in item directory
2. Choose container type and give it a name
3. Navigate to folder and open new container config sheet
4. Drag/drop item from item directory onto container sheet to add

[2020-12-07 15:38] kamcknig commented on #167
Hello, this should be fixed in the latest version, please try again and let me know, @archeresky

[2020-12-07 15:40] kamcknig commented on #168
@VeilOfOblivion I have seen this randomly as well, and for me it doesn't happen every single time, it seems random (in D&D 5 that is). I did try your steps and it gave the error in PF2E and does seem to do it every time. The weird thing is, the name doesn't have a "." so i'm not sure what's going on but I will be looking into it

[2020-12-07 16:00] kamcknig commented on #163
@Krigsmaskine, hello, this is fixed in version 0.13.7. Thank you!

[2020-12-07 16:01] #163 closed

[2020-12-07 16:01] kamcknig commented on #168
@VeilOfOblivion , found the issue and should be fixed in version 0.13.7, thank you!

[2020-12-07 16:01] #168 closed

[2020-12-07 16:04] #107 closed

[2020-12-07 16:07] kamcknig commented on #134
Hi, @Bryn1701, I have retested the sounds and they seem to be working fine for me. If you could open a new item if it is still an issue in the latest version of my module that'd be great. please make sure to include version details for foundry, system and module.

[2020-12-07 16:07] #134 closed

[2020-12-07 16:08] #167 closed

[2020-12-07 16:57] #171 closed

[2020-12-07 16:59] kamcknig commented on #172
@capoeria , There might be weirdness because I'm not sure how permissions will act if you change them. Can you provide exact steps that repro the problem? I have to set permissions on the items created so that players can actually interact with them, but a lot of the functions such as adding items, deleting them, and such all get forwarded to a GM player (it's not happening on the client  machine

[2020-12-07 19:56] capoeria commented on #172
With this recent version I cant access to the sheet

[2020-12-07 21:21] kamcknig commented on #172
You'll have to give me more details. Steps you used. Versions of foundry and system. Make sure to turn off all other modules. This 100% worked for me in the newest version.

[2020-12-08 00:16] capoeria commented on #172
https://www.loom.com/share/f5fbb6c1eb5e437c9d6b81d093880edd

[2020-12-08 01:49] kamcknig commented on #172
@capoeria It would appear, that you have only one player logged in and that player is not a GM user. There must be at least one GM user logged in.

[2020-12-08 08:13] capoeria commented on #172
I am connected as GM

[2020-12-08 09:17] SpironoZeppeli opened #174 "Since the latest update, containers no longer function"
**Describe the bug**
When clicking a container, nothing happens. Functionality is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a container
2. Click on container
3. See that nothing happens

**Expected behavior**
A container opens displaying items within

**Foundry Version**
0.7.8

**Pick-Up-Stix Version**
0.13.6

[2020-12-08 13:10] kamcknig commented on #174
Thanks! Merged and released

[2020-12-08 13:10] #174 closed

[2020-12-08 13:11] kamcknig commented on #172
You should now be able to open chests in 0.13.8

[2020-12-08 14:02] kamcknig commented on #170
This will be fixed in version 0.13.8!

[2020-12-08 14:02] #170 closed

[2020-12-08 14:20] kamcknig commented on #169
This will be fixed in 0.13.8!

[2020-12-08 14:20] #169 closed

[2020-12-08 16:34] PBobovsky commented on #165
@kamcknig It works correctly on that version, I did indeed have broken auto-update. Thank you!

[2020-12-08 16:34] #165 closed

[2020-12-08 16:41] kamcknig commented on #165
@PBobovsky Glad to hear :)

[2020-12-09 14:25] SabbothO commented on #164
Hello, I'm a player of t he 3.5e SRD system as well. I believe unidentified items are built into the 3.5e system. But yes, as it currently is in 3.5e, the item appears with the identified name within a container, and switches back to the unidentified name once in their inventory.

[2020-12-09 14:29] SabbothO opened #176 "System: 3.5e SRD, currency not deducted from containers."
**Describe the bug**
Players can pick up currency in container multiple times for infinite money.

**To Reproduce**
Steps to reproduce the behavior:
1. Add currency to container and have player loot it
2. Currency does not deduct from container

**Expected behavior**
Once looted, the currency should drop to zero and prevent multiple lootings.

**Screenshots**
N/A

**Foundry Version**
7.8

**Pick-U

[2020-12-09 14:34] kamcknig commented on #176
Hi, thank you, this is a known issue and I believe the creator of the 3.5 system is working on this @Rughalt

[2020-12-09 14:35] kamcknig commented on #166
Ahhh, OK, I didn't realize it was part of the 3.5 system, @Rughalt, you might want to take this one for your system

[2020-12-09 15:37] Rughalt commented on #164
This will be fixed by my with a PR

[2020-12-09 17:43] capoeria commented on #172
Thank you, I can open them now. I will look forward subsequent versions to introduce the "personal chest"
Thnak you again

[2020-12-13 02:47] 9ryex5 opened #178 "Invisivility for players not working"
When I toggle visibility as GM, my players are still able to see loot.

![image](https://user-images.githubusercontent.com/43207603/102001748-5d969f00-3ced-11eb-9d37-1cf1eda755e2.png)
I placed a loot token next to an actor and set both invisible. Left side is GM view, right side is player view.

Foundry 0.7.8
Pick-Up-Stix 0.13.8

[2020-12-19 16:12] Rencos1 commented on #173
There is a workaround for this problem. I am not sure if it will cause some side issues, but it works well for me. In Main.js in the function createLootToken just put in comment if (game.user.isGM) . It prevents the item to be created after it is deleted from the actor sheet when a player character drop an item.
**//if (game.user.isGM) {**
        if (typeof itemData === 'object') {
            it

[2020-12-20 03:18] JamzTheMan commented on #164
For the PF2E system, if Foriens Unidentified (Mystified) item is dragged to the scene or token. it's permanently lost and a "Maximum depth allowed" UI error is displayed.  Is this related?

[2020-12-20 04:55] Krigsmaskine opened #179 "Dropping and picking up a stacked item picks up the items separated instead"
**Describe the bug**
Thanks for checking into the other similar issue I reported so quickly! Perhaps I am just jumping the gun, apologies if so, but I was testing the current version 0.13.5 and tested again. It seems dropping an item with quantity, then picking said item(s) up again, will pick up separated copies of the item of the quantity, instead of a stack of the same quantity.

**To Reproduce

[2020-12-21 11:47] mr-bo-jangles opened #180 "Uncaught (in promise) TypeError: data.flags["pick-up-stix"]["pick-up-stix"].container is undefined"
**Describe the bug**
Uncaught (in promise) TypeError: data.flags["pick-up-stix"]["pick-up-stix"].container is undefined

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a placed container
2.
[code]

**Expected behavior**
The Container opens with the container sheet

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercon

[2020-12-21 17:48] kamcknig commented on #178
Hi, @9ryex5, someone else also had this issue, there might be a bug.

If you are using the D&D5E system, a workaround exists.

There is a module setting named "Loot Token Reveal" (only displayed for D&D5E right now). Please enable this setting, and optionally set a default reveal value in the setting as well. Any new token created will use this default value, any tokens already created will need t

[2020-12-24 02:24] toldizzle commented on #180
I am getting same behiavors, but with no error message. Same version, Im guessing its something with a other module.

[2020-12-25 08:10] EnragedLlama opened #181 "Containers Not Working When Resized"
Foundry: 0.7.9
Pathfinder 2nd Edition: 1.10.23.2638
Pick up Stix: 0.13.8

Reproduction: If i place any item down and set it to create Container, it will allow me to fill the container perfectly fine. But if I adjust the container size what so ever, bigger or smaller. The container breaks and no longer holds items and shows as a blank sheet.

Step 1: Drag-N-Drop potion or any item to map
Step 2: Se

[2020-12-25 20:36] DariusWolfe commented on #181
Can confirm this issue. Also, changing the sprite to anything else seems to cause the same issue.

[2020-12-25 21:07] EnragedLlama commented on #181
Changing the Sprite,
Changing the Width/Height,
Using the "Can Close" box.

Issue is persistant with a Clean PF2E world, and D&D 5E World.

Issue also occured without even changing anything. Dragging the token across, putting items in then Closing the box, Then reopening broke it in PF2E and in a clean 5E world.

[2020-12-27 23:28] Eldintux opened #183 "Container not being recognised after any alteration until browser refreshed"
**Describe the bug**
Can create a container without any problems. Can open it & see what's inside. I can close it again & when I open it it's still fine. But if I alter it in any way: change name, change Icons, add items or take item out, change it's size. Then the card it opens reverts back to the a normal item card claiming to be a weapon. I can get back the container by refreshing my web browse

[2020-12-29 03:41] AeroKinomoto commented on #183
I'm having the same issue.  With that said, you CAN refresh the FoundryVTT application by pressing F5, which fixes the issue in the same way as the browser (until you modify it again anyways).

[2020-12-30 00:53] Hawttu commented on #183
Same issue here.

Foundry: 0.7.9
DnD5e: 1.1.1
Pick-Up-Stix: 0.13.8

[2020-12-31 15:21] weihanderz opened #184 "Players not able to drop items"
**Describe the bug**
Items dropped to the ground by players are simply deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as player
2. Drop an item on the ground

**Expected behavior**
Item should appear on the ground

**Foundry Version**
0.7.9

**Pick-Up-Stix Version**
0.13.8

[2021-01-05 00:07] SalieriC opened #185 "Feature Request: Carryable Containers (i.e. Backpacks)"
Container items that can be carried on the character sheet (i.e. Backpacks) would be a great addition for every system which does not have native support for these. The Backpack should have the weight of all items in it and it should be possible to open in and put items in and out without the need of a selected Token. It should also be possible to drop it to quickly remove the weight and pick up a

[2021-01-06 10:04] ToothlessTheNightFury commented on #184
I can reproduce this as well. I attempted the following to fix this:
1. Disable all modules except TidyUI and Pick Up Stix.
2. Give players all permissions.

I was still unable to drop an item as a player from my inventory. Dropping an item from a player's inventory as a DM, works, however.

[2021-01-06 19:40] weihanderz commented on #184
Also true for when pick up stix is the only module.

[2021-01-14 20:48] CampDungeon commented on #183
Noted this also.  As shown in the screenshot from Eldintux,  The Container always turns into a Weapon item.  The weapon item type is the default item type when creating a new item.  Perhaps a connection there.     Also,  the Item/should be container listed in the Item folder of PuS appears to be a weapon when viewed, but when dragged to the scene it (until changed) looks and acts like a container.

[2021-01-26 07:56] SalieriC commented on #183
Same in SWADE 0.16.1

[2021-01-26 19:17] kamcknig commented on #184
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #183
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #181
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #180
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #179
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #178
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #176
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #173
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] kamcknig commented on #172
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:17] #172 closed

[2021-01-26 19:18] kamcknig commented on #159
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #159 closed

[2021-01-26 19:18] kamcknig commented on #102
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #102 closed

[2021-01-26 19:18] kamcknig commented on #173
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #173 closed

[2021-01-26 19:18] kamcknig commented on #176
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #176 closed

[2021-01-26 19:18] kamcknig commented on #93
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #93 closed

[2021-01-26 19:18] kamcknig commented on #185
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:18] #185 closed

[2021-01-26 19:19] #184 closed

[2021-01-26 19:19] #183 closed

[2021-01-26 19:19] #181 closed

[2021-01-26 19:19] #180 closed

[2021-01-26 19:19] #179 closed

[2021-01-26 19:19] #178 closed

[2021-01-26 19:19] #166 closed

[2021-01-26 19:19] #164 closed

[2021-01-26 19:19] kamcknig commented on #110
Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-01-26 19:19] #110 closed

[2021-02-04 19:02] vvatchdog opened #187 "containers only work once when item is removed"
containers no longer function once something is taken out of them
players nor dm can open a container once something has been taken out of them, ex. i put a sword and shield in a chest, when the sword or shield is taken and the container is closed, when attempting to re-open the chest and take the other item, the chest/container is instead switched to be an 'item' page and not the container page,

[2021-02-05 14:33] kamcknig commented on #187
@vvatchdog

Hi, I apologize, but I will no longer be maintaining this. To support multiple systems was taking too much time. I have offered to let anyone take it over on the discord, but so far no one has.

[2021-02-05 14:33] #187 closed

[2021-03-06 17:23] marcosmachado81 opened #188 "Container bug"
**Describe the bug**
After loot the content of a container, you close the container popup. If you open the empty container, it is showing as a Gun Item and not a container Item. If you logout and login the container backs to normal view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an item type of container
2. Put some items in the container
3. Drag the item on the map
4. Loot the

[2021-03-17 21:20] pesky-wobbit opened #189 "GM can't access multiple Items in Container"
**Describe the bug**
Cannot open containers with more than one item.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag an item onto the scene and choose container. (Works - can close, reopen and interact with container.)
2. Drag another item onto the container. (Works - new item accepted.)
3. Close the container.
4. Double click on the container to open. It doesn't look like the loot shee

[2021-03-18 20:20] pesky-wobbit commented on #189
If I reload Foundry, I can interact with multi-item chests. If I modify the chest at all - add, pick up, or delete items, or change quantities - I have to reload.

[2021-03-25 13:57] McShaker commented on #189
I also have this issue.

[2021-03-25 13:58] kamcknig commented on #189
Sorry, but I am no longer maintaining this at this time. It might be something I come back to but for now, it's not being actively developed

[2021-03-25 13:58] #189 closed

[2021-06-09 17:43] warteckel opened #193 "does not work anymore since 0.8.6"
Since 0.8.6:
* Making an item does not allow anymore to see/modify the "trap" stats that are linked top the object
* Looking at an object previously cretaed in V 0.7.X it stills shows if there is a trap, a lock, etc... so datas are still here but the sheet does not show them any more
*
![image](https://user-images.githubusercontent.com/84182699/121403094-de5fec00-c95a-11eb-999e-78825bf2afb6.png)
!

[2021-06-09 17:44] #193 closed

[2021-06-09 17:53] kamcknig commented on #188
Hi, @marcosmachado81, I apologize, but I am no longer maintaining this. I'm not sure why it hasn't been removed from Foundry's list of modules. I know that they went through an exercise to remove old ones not too long ago. I just stopped having time.

[2021-06-10 15:37] kamcknig commented on #193
Unfortunately, I no longer maintain this module and haven't in a while :/

[2021-06-10 20:12] DMellswere opened #194 "Container Bug - cannot open"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Foundry Version**
8.6

**Pick-Up-Sti

[2021-06-10 20:29] kyle-mcknight commented on #194
Hi, I'm sorry, but unfortunately I'm no longer maintaining this module :/

[2021-06-10 21:43] DMellswere commented on #194
Oh quite alright. I should have checked that before putting q bug report in on a defunct module. -_- thanks anyways.

[2021-06-10 21:43] #194 closed

[2021-09-26 17:11] ravingdragoon opened #197 "Pick-up-stix 2.0.0 not working"
@p4535992 do you have a functioning version of this module? When I try to use your 2.0 package I get the following error, even with only Pick-up-stix and libwrapper enabled.

foundry.js:2013 Error: One of original or other are not Objects!
[Detected 1 package: pick-up-stix]
    at Module.mergeObject (helpers.mjs:452)
    at new Application (foundry.js:1737)
    at new FilePicker (foundry.js:21759)

[2022-01-10 21:34] Morters opened #198 "Not working with V9"
Looks like this module does not work for the new version of Foundry

[2022-01-19 12:35] CaosFR commented on #198
same here, dont work

[2022-01-19 12:42] kamcknig commented on #198
Unfortunately I am no longer maintaining this module.

Foundry is considering adding support for a feature like this and is on their list to vote for in future versions. Card support was.chosem for v9 though. The vote for v10 was recently held but I'm not sure what was chosen

[2022-01-19 13:37] CaosFR commented on #198
Thanks for your reply and work.

[2022-02-16 22:14] Artemisthemp commented on #198
People who miss Pick-up-stix should give Iitem Piles a look
[Item pile](https://github.com/fantasycalendar/FoundryVTT-ItemPiles)